/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: lightgray;
}

.top {
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial";
    -fx-fill: GRAY;
    -fx-text-fill: skyblue;
    -fx-effect: innershadow( three-pass-box ,rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}